<footer>
    <div class="footer-info">
        <div class="footer-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
        </div>
        <div>&copy;Wonderlust private limited</div>
        <div class="footer-info-link">
            <a href = "/privacy">Privacy</a>
            <a href = "/terms">Terms</a>
        </div>
    </div>
</footer>