<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/listing">Explore</a>
          </li>
          <li class="navbar-nav search">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search destination" aria-label="Search">
              <button class="btn btn-outline-success search-icon" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
          </li>
        </ul>

       
      </div>

      <div class="ms-auto navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/listing/new">Airbnb your home</a>
        </li>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Logout</b></a>
          <% } %>

          <% if(!currUser) { %>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <a class="nav-link" href="/signup"><b>Signup</b></a>
        <% } %>
      </div>
    </div>
  </nav>